{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "eslint-config-prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "import/namespace": "off",
    "import/no-unresolved": "off",
    "react/prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-noninteractive-tabindex": "warn",
    "jsx-a11y/tabindex-no-positive": "warn"
  },
  "globals": {
    "localStorage": "readonly",
    "window": "readonly",
    "console": "readonly",
    "document": "readonly",
    "process": "readonly",
    "module": "readonly",
    "setTimeout": "readonly",
    "clearTimeout": "readonly",
    "setInterval": "readonly",
    "clearInterval": "readonly",
    "URLSearchParams": "readonly"
  }
}
